<div class="container" style="padding: 10px">
  <div>
    <h4 *ngIf="isSignedIn">
      Welcome, {{ userName }}
    </h4>
  </div>
  
  <div class="header-btn">
      <button
      class="btn btn-danger signin-btn"
      (click)="onSignIn()"
      *ngIf="!isSignedIn"
    >
     Sign in
    </button>
  
    <button
      class="btn btn-danger signin-btn"
      (click)="onSignOut()"
      *ngIf="isSignedIn"
    >
     Sign out
    </button>

    <button
      class="btn offline-btn "
      *ngIf="isSignedIn && !isConnected"
    >
     {{ status }}
    </button>

    <button
      class="btn offline-btn btn-primary "
      (click)="fetchOfflineTasks()"
      *ngIf="isSignedIn && goOnline && isConnected"
    >
     GO ONLINE
    </button>

  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form [formGroup]="tasksForm">
          <div class="form-group note-container">
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              placeholder="Add a task..."
              autocomplete="off"
              formControlName="description"
            />
            <img class="click-a add-svg" src="assets/scalableVectorGraphics/plus.svg" alt="Add" (click)="onCreateTask()">
          </div>
          <div class="alert-msg" role="alert" *ngIf="!isSignedIn">
            Please Sign in to add tasks!
          </div>
          <div class="alert-msg" role="alert" *ngIf="taskAddedOn">
            Task added successfully!
          </div>
        </form>
      </div>
    </div>
    <hr />
    <div class="row" *ngIf="isSignedIn">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
          <nav aria-label="...">
              <ul class="pagination pagination-lg">
                <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="fetchNewTasks()">Pending Tasks</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);" (click)="fetchCompletedTasks()" *ngIf="isConnected && onlineMode">Completed Tasks</a></li>
              </ul>
            </nav>
            <p *ngIf="loadedTasks.length < 1 && !isLoading" style="color: red;">No tasks available!</p>
        <ul class="list-group" *ngIf="loadedTasks.length >= 1 && !isLoading">
          <li class="list-group-item display-notes" *ngFor="let task of loadedTasks; let i=index">
            <h5>{{ task.description }}</h5>
            <img class="click-a done" src="assets/scalableVectorGraphics/checked.svg" alt="Completed" *ngIf="task.completed === false" (click)="markCompleted(task._id, i)">
            <img class="click-a trash" src="assets/scalableVectorGraphics/delete.svg" alt="Delete" (click)="deleteTask(task._id, i)">
          </li>
        </ul>
        <app-small-spinner *ngIf="isLoading"></app-small-spinner>
      </div>
    </div>
  </div>
</div>